<ion-view view-title="Restaurants">
    <ion-content>
        <ion-list ng-show="restaurants.length == 0">
            <ion-item>
                <h2>The list is empty!</h2>
            </ion-item>
        </ion-list>
        <ion-list ng-show="restaurants.length > 1">
            <ion-item class="item-avatar item-button-right" ng-repeat="restaurant in restaurants" type="item-text-wrap">
                <img ng-src="{{restaurant.urlImage}}">
                <h2>Name: {{restaurant.name}}</h2>
                <p>Cousine: {{restaurant.cousine}}</p>
                <p>Votes: {{restaurant.votes.length}}</p>
                <div ng-show="restaurant.votes.length > 0">
                    <p>Voted by:
                        <h6><span ng-repeat="vote in restaurant.votes"> | {{vote.userName}}</span> | </h6>
                    </p>
                </div>
                <div class="buttons">
                    <button class="button button-positive" ng-hide="ctrl.hasVote()" ng-click="ctrl.vote(restaurant.id)">Vote</button>
                    <button class="button button-positive" ng-click="ctrl.goDetail(restaurant.id)">Detail</button>
                </div>
            </ion-item>
        </ion-list>
        <div ng-show="restaurants.length == 1">
            <img ng-src="{{restaurant.urlImage}}" style="width: 64px; height: 64px">
            <p>The voted restaurant is {{restaurants[0].name}}
            </p>
        </div>
    </ion-content>
</ion-view>
